%h3
  =@constellation.name
%hr
.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{:href=>"#tab1", "data-toggle"=>"tab"}
        Info
    %li
      %a{:href=>"#tab2", "data-toggle"=>"tab"}
        Stars
    %li
      %a{:href=>"#tab3", "data-toggle"=>"tab"}
        Messier objects
    %li
      %a{:href=>"#tab4", "data-toggle"=>"tab"}
        Ngc catalog
    %li
      %a{:href=>"#tab5", "data-toggle"=>"tab"}
        Observations
  .tab-content
    #tab1.tab-pane.active
      .row-fluid
        .span4
          %strong
            Constellation name:
          =@constellation.name
          %br
          %strong
            Abbreviations:
          =@constellation.abb1
          =@constellation.abb2
          %br
          %strong
            Genitive:
          =@constellation.genitive
          %br
          %strong
            Origin:
          =@constellation.origin
          %br
          %strong
            Name meaning:
          =@constellation.meaning
        .span8
          .obs.obs_images
            -@constellation.photos.first(4) do |p|
              .obs_img
                =link_to image_tag(p.payload.url(:thumb), :class=>'img-polaroid'), "#p-#{p.id}", :role=>"button", "data-toggle"=>"modal"
                .modal.hide.fade{:id=>"p-#{p.id}", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"p-#{p.id}Label", "aria-hidden"=>"true"}
                  .modal-header
                    .modal_img
                      =image_tag p.payload.url            

      %hr
      =render 'shared/comments', :commentable=>@constellation
      #votes=render 'shared/favs'
      
    #tab2.tab-pane
      %table.table.table-striped.table-hover
        %caption
          %h4
            List of starts in 
            =@constellation.name
        %thead
          %tr
            %td
              %strong
                Name
            %td
              %strong
                Right Ascension
            %td
              %strong
                Declination
            %td
              %strong
                Apparent magnitude
            %td
              %strong
                Stellar class
        %tbody
          -@constellation.stars.each do |c|
            %tr
              -if c.name and not c.name==""
                %td=link_to c.name, astro_star_path(c.id)
              -else
                %td=link_to "Unnamed star", astro_star_path(c.id)
              %td=c.right_ascension
              %td=c.declination
              %td=c.apparent_magnitude
              %td=c.stellar_class




    #tab3.tab-pane
      %table.table.table-striped.table-hover
        %caption
          %h4
            List of Messier objects in 
            =@constellation.name
        %thead
          %tr
            %td
              %strong
                Messier Number
            %td
              %strong
                Number in NGC
            %td
              %strong
                Common name
            %td
              %strong
                Object type
            %td
              %strong
                Distance in kly
            %td
              %strong
                Apparent magnitude
        %tbody
          -@constellation.messiers.each do |c|
            %tr
              %td
                =link_to "M#{c.messier_number}", astro_messier_path(c.id)
              %td
                NGC
                =c.ngc_number
              %td=c.common_name
              %td=c.object_type
              %td=c.distance_kly
              %td=c.apparent_magnitude



    #tab4.tab-pane
      %table.table.table-striped.table-hover
        %caption
          %h4
            List of NGC catalog objects in 
            =@constellation.name
        %thead
          %tr
            %td
              %strong
                NGC number
            %td
              %strong
                Other names
            %td
              %strong
                Object Type
            %td
              %strong
                Right ascension
            %td
              %strong
                Declination
            %td
              %strong
                Apparent magnitude
        %tbody
          -@constellation.ngcs.each do |c|
            %tr
              %td=link_to "NGC #{c.ngc_number}", astro_ngc_path(c.id)
              %td=c.names
              %td=c.object_type
              %td=c.right_ascension
              %td=c.declination
              %td=c.apparent_magnitude
      

    #tab5.tab-pane
      %table.table.table-striped.table-hover
        %caption
          %h4
            List of observations of
            =@constellation.name
        %thead
          %tr
            %td 
              %strong User
            %td 
              %strong Name
            %td 
              %strong Date
        %tbody
          -@constellation.observations.each do |o|
            %tr
              -if o.user.name? 
                %td=o.user.name
              -else
                %td=o.user.email
              %td=link_to o.name, addable_observation_path(o.id)
              %td=o.observation_date
      %hr
        -if current_user
          =link_to "Add observation", new_addable_observation_path(:observable_id=>@constellation, :observable_type=>@constellation.class), :class=>'btn'
